@model List<About>
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Dashboard/_DashboardLayout.cshtml";
}

<h1>Hakkımda Kısmı</h1>

<!-- /.row -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Hakkında bilgileirni buradan güncelleyebilirsin.</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>İsim Soyisim</th>
                            <th>Hakkımda</th>
                            <th>E-Mail</th>
                            <th>Telefon</th>
                            <th>Fotoğrafı</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model){
                        <tr>
                            <td>@item.AboutID</td>
                                <td>@item.Name</td>
                                <td>@item.Description</td>
                                <td>@item.Email</td>
                                <td>@item.Phone</td>
                                <td>@item.ImageUrl</td>
                                <td><a href="Edit/@item.AboutID/" class="btn btn-warning">Düzenle</a></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<!-- /.row -->